﻿<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />
    <!-- This is a wide open CSP declaration. To lock this down for production, see below. -->
    <meta http-equiv="Content-Security-Policy" content="default-src * 'unsafe-inline'; style-src 'self' 'unsafe-inline'; media-src *" />

    <!-- CSS dependencies -->
    <link rel="stylesheet" href="lib/onsen/css/onsenui.css" />
    <link rel="stylesheet" href="lib/onsen/css/onsen-css-components.css" />
    <link rel="stylesheet" type="text/css" href="css/index.css" />

    <script src="lib/onsen/js/onsenui.js"></script>
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular/angular-sanitize.js"></script>
    <script src="lib/onsen/js/angular-onsenui.js"></script>
   
    <!-- CSP support mode (required for Windows Universal apps) -->
    <!--<link rel="stylesheet" href="lib/angular/angular-csp.css" />-->
    <!-- --------------- App init --------------- -->
    <title>Trang chủ</title>

</head>

<body ng-controller="AppController">

    <ons-splitter>
        <ons-splitter-side id="menu" side="left" width="220px" collapse swipeable>
            <ons-page modifier="menu-page">
                <!--<ons-toolbar modifier="transparent">
                    <div class="right">
                        <ons-toolbar-button class="menu-closeMenu" onclick="fn.close()">
                            Close
                        </ons-toolbar-button>
                    </div>
                </ons-toolbar>-->
                
                <ons-list class="menu-list">
                    <ons-list-header ng-if="isLogged">
                        <h3>{{user.UserName}}</h3>
                    </ons-list-header>

                    <ons-list-item class="menu-item" onclick="fn.load('home.html')">
                        <ons-icon icon="fa-home"></ons-icon>
                        Trang chủ
                    </ons-list-item>
                    <ons-list-item class="menu-item" ng-if="isLogged && isSeller" onclick="fn.load('requestlist.html')">
                        <ons-icon icon="fa-list"></ons-icon>
                        Danh sách yêu cầu
                    </ons-list-item>
                </ons-list>

                <br>

                <ons-list class="bottom-menu-list">
                    <!--<ons-list-item class="bottom-menu-item" ng-click="menu.closeMenu()">
                        Settings
                        <div class="notification menu-notification">3</div>
                    </ons-list-item>

                    <ons-list-item class="bottom-menu-item" ng-click="menu.closeMenu()">
                        Help
                    </ons-list-item>

                    <ons-list-item class="bottom-menu-item" ng-click="menu.closeMenu()">
                        Send feedback
                    </ons-list-item>-->
                    <ons-list-item class="menu-item" ng-if="isLogged==false" onclick="fn.load('login.html')">
                        <ons-icon icon="fa-user"></ons-icon>
                        Đăng nhập
                    </ons-list-item>
                    <ons-list-item ng-if="isLogged" class="bottom-menu-item" ng-click="logout()">
                        <ons-icon icon="fa-user"></ons-icon>
                        Đăng xuất
                    </ons-list-item>
                </ons-list>
            </ons-page>
        </ons-splitter-side>
        <ons-splitter-content id="content" page="home.html">
    </ons-splitter>

    


    <ons-template id="home.html">
        <ons-navigator var="myNavigator">
            <ons-page ng-controller="HomePageController">
                <ons-toolbar class="blue">
                    <div class="left">
                        <ons-toolbar-button onclick="fn.open()">
                            <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
                        </ons-toolbar-button>
                    </div>
                    <div class="center">Danh sách Xe hơi</div>
                    <div class="right"></div>
                </ons-toolbar>
                <ons-tabbar position="top">
                    <ons-tab page="allcars.html" active="true">
                        <ons-icon icon="ion-home"></ons-icon>
                        <span style="font-size: 14px">Tất cả</span>
                    </ons-tab>
                    <ons-tab page="brands.html">
                        <ons-icon icon="ion-star"></ons-icon>
                        <span style="font-size: 14px">Hãng</span>
                    </ons-tab>
                    <ons-tab page="categories.html">
                        <ons-icon icon="ion-star"></ons-icon>
                        <span style="font-size: 14px">Loại xe</span>
                    </ons-tab>
                    <ons-tab page="seatNos.html">
                        <ons-icon icon="ion-star"></ons-icon>
                        <span style="font-size: 14px">Số ghế</span>
                    </ons-tab>
                    <!--<ons-tab page="filterCars.html">
                        <ons-icon icon="ion-star"></ons-icon>
                        <span style="font-size: 14px">Lọc</span>
                    </ons-tab>-->
                </ons-tabbar>
               
            </ons-page>
        </ons-navigator>
    </ons-template>

    <ons-template id="requestlist.html">
        <ons-navigator var="myNavigator">
            <ons-page ng-controller="RequestListPageController">
                <ons-toolbar class="blue">
                    <div class="left">
                        <ons-toolbar-button onclick="fn.open()">
                            <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
                        </ons-toolbar-button>
                    </div>
                    <div class="center">Danh sách yêu cầu</div>
                    <div class="right"><ons-toolbar-button ng-click="doSomething()"><ons-icon icon="ion-compose"></ons-icon></ons-toolbar-button></div>
                </ons-toolbar>
                <ons-tabbar position="top">
                    <ons-tab page="unanswered.html" active="true">
                        <ons-icon icon="ion-home"></ons-icon>
                        <span style="font-size: 14px">Chưa trả lời</span>
                    </ons-tab>
                    <ons-tab page="answered.html">
                        <ons-icon icon="ion-star"></ons-icon>
                        <span style="font-size: 14px">Đã trả lời</span>
                    </ons-tab>
                </ons-tabbar>

            </ons-page>
        </ons-navigator>
    </ons-template>

    <ons-template id="unanswered.html">
        <ons-page>
            <ons-list id="all-scroller" style="margin: -1px 0">
                <ons-list-item modifier="chevron" class="item" ng-repeat="request in unansweredRequests" ng-click="goToRequestAnswer(request)">
                    <ons-row>
                        <ons-col width="95px">
                            <img ng-src="{{request.Car.PhotoUrl}}" class="thumbnail">
                        </ons-col>
                        <ons-col>
                            <header>
                                <span class="item-title">{{request.Car.BrandName}}</span>
                                <span class="item-label">{{request.UserId}}</span>
                            </header>
                            <p class="item-desc">{{request.Car.Name}}</p>
                        </ons-col>
                    </ons-row>
                </ons-list-item>
            </ons-list>
        </ons-page>
    </ons-template>
    <ons-template id="answered.html">
        <ons-page>
            <ons-list id="all-scroller" style="margin: -1px 0">
                <ons-list-item modifier="chevron" class="item" ng-repeat="request in answeredRequests" ng-click="goToRequestAnswer(request)">
                    <ons-row>
                        <ons-col width="95px">
                            <img ng-src="{{request.Car.PhotoUrl}}" class="thumbnail">
                        </ons-col>
                        <ons-col>
                            <header>
                                <span class="item-title">{{request.Car.BrandName}}</span>
                                <span class="item-label">{{request.UserId}}</span>
                            </header>
                            <p class="item-desc">{{request.Car.Name}}</p>
                        </ons-col>
                    </ons-row>
                </ons-list-item>
            </ons-list>
        </ons-page>
    </ons-template>
    <ons-template id="sendrequestanswer.html">
        <ons-page ng-controller="SendRequestAnswerController">
            <ons-toolbar>
                <div class="left"><ons-back-button>Trở lại</ons-back-button></div>
                <!--<div class="right"><ons-toolbar-button ng-click="myNavigator.popPage()">Hủy</ons-toolbar-button></div>-->
                <div class="center">Gửi báo giá</div>
            </ons-toolbar>

            <ons-list modifier="inset" style="margin-top: 10px">
                <ons-list-item class="to-wrapper">
                    <ons-row>
                        <ons-col width="52px">
                            <img ng-src="{{myNavigator.topPage.data.request.Car.PhotoUrl}}" width="42" class="to-image">
                        </ons-col>
                        <ons-col>
                            <div class="to-name">{{myNavigator.topPage.data.request.Car.BrandName}}</div>
                            <div class="to-email">{{myNavigator.topPage.data.request.Car.Name}}</div>
                        </ons-col>
                    </ons-row>
                </ons-list-item>
                <ons-list-item>
                    <input type="number" class="text-input text-input--transparent" placeholder="Giá" style="width: 100%" ng-model="bidprice">
                </ons-list-item>

                <ons-list-item>
                    <textarea class="textarea textarea--transparent" placeholder="Lời nhắn" style="width: 100%; height: 100px;" ng-model="reply"></textarea>
                </ons-list-item>

                <!--<ons-list-item modifier="chevron tappable">
                    <ons-icon icon="fa-tag" style="opacity:0.2"></ons-icon>
                </ons-list-item>-->

            </ons-list>

            <div style="padding: 10px 9px">
                <ons-button modifier="large" style="margin: 0 auto;" ng-click="sendAnswer(myNavigator.topPage.data.request)">
                    Gửi
                </ons-button>
            </div>


        </ons-page>
    </ons-template>

    <ons-template id="sendpricerequest.html">
        <ons-page ng-controller="SendPriceRequestController">
            <ons-toolbar>
                <div class="left"><ons-back-button>Trở lại</ons-back-button></div>
                <!--<div class="right"><ons-toolbar-button ng-click="myNavigator.popPage()">Hủy</ons-toolbar-button></div>-->
                <div class="center">Gửi yêu cầu báo giá</div>
            </ons-toolbar>

            <ons-list modifier="inset" style="margin-top: 10px">
                <ons-list-item class="to-wrapper">
                    <ons-row>
                        <ons-col width="52px">
                            <img ng-src="{{myNavigator.topPage.data.car.PhotoUrl}}" width="42" class="to-image">
                        </ons-col>
                        <ons-col>
                            <div class="to-name">{{myNavigator.topPage.data.car.BrandName}}</div>
                            <div class="to-email">{{myNavigator.topPage.data.car.Name}}</div>
                        </ons-col>
                    </ons-row>
                </ons-list-item>

                <ons-list-item>
                    <textarea class="textarea textarea--transparent" placeholder="Lời nhắn" style="width: 100%; height: 100px;" ng-model="content"></textarea>
                </ons-list-item>

            </ons-list>

            <div style="padding: 10px 9px">
                <ons-button modifier="large" style="margin: 0 auto;" ng-click="sendRequest(myNavigator.topPage.data.car)">
                    Yêu cầu báo giá
                </ons-button>
            </div>


        </ons-page>
    </ons-template>

    <ons-template id="pricerequestdetails.html">
        <ons-page ng-controller="PriceRequestDetailsController">
            <ons-toolbar>
                <div class="left"><ons-back-button>Trở lại</ons-back-button></div>
                <!--<div class="right"><ons-toolbar-button ng-click="myNavigator.popPage()">Hủy</ons-toolbar-button></div>-->
                <div class="center">Chi tiết báo giá</div>
            </ons-toolbar>

            <ons-list modifier="inset" style="margin-top: 10px">
                <ons-list-item class="to-wrapper">
                    <ons-row>
                        <ons-col width="52px">
                            <img ng-src="{{myNavigator.topPage.data.car.PhotoUrl}}" width="42" class="to-image">
                        </ons-col>
                        <ons-col>
                            <div class="to-name">{{myNavigator.topPage.data.car.BrandName}}</div>
                            <div class="to-email">{{myNavigator.topPage.data.car.Name}}</div>
                        </ons-col>
                    </ons-row>
                </ons-list-item>

                <ons-list-item>
                    {{myNavigator.topPage.data.car.RequestContent}}
                </ons-list-item>

            </ons-list>

            <ons-list>
                <ons-list-header>Báo giá:</ons-list-header>
                <ons-list-item ng-repeat="answer in myNavigator.topPage.data.car.SellerAnswers">
                    <ons-row>
                        <ons-col width="52px">
                            <img ng-src="{{answer.SellerAvatar}}" width="42" class="to-image">
                        </ons-col>
                        <ons-col>
                            <div class="to-name">{{answer.BidPrice}} VND</div>
                            <div class="to-email">{{answer.Reply}}</div>
                        </ons-col>
                        <ons-col class="right">
                            <a href="tel:0912232123" class="button" ng-click="call('+84988232716')">Gọi điện</a>
                        </ons-col>
                    </ons-row>
                </ons-list-item>
            </ons-list>


        </ons-page>
    </ons-template>


    <ons-template id="about.html">
        <ons-page>
            About
        </ons-page>

    </ons-template>


    <ons-template id="allcars.html">
        <ons-page ng-infinite-scroll="loadMore" ng-controller="AllCarsPageController"  ng-init="loadData()">
            <ons-button ng-click="popupFilter()"><ons-icon icon="ion-funnel"></ons-icon>Lọc</ons-button> 
            <div ng-show="showDialog">
                <div style="text-align: center; padding: 10px;">
                    <ons-row>
                        <ons-col>Loại xe</ons-col>
                        <ons-col>
                            <select class="select-input" ng-model="categoryFilterValue">
                                <option value="0">Tất cả</option>
                                <option ng-repeat="option in categories" value="{{option.Id}}">{{option.Name}}</option>
                            </select>
                        </ons-col>
                    </ons-row>
                    <ons-row>
                        <ons-col>Mức giá</ons-col>
                        <ons-col>
                            <select class="select-input" ng-model="priceFilterValue">
                                <option value="0-30000">Tất cả</option>
                                <option value="300-500">300tr - 500tr</option>
                                <option value="500-800">500tr - 800</option>
                                <option value="800-1200">800tr - 1.2tỷ</option>
                                <option value="1200-1500">1.2tỷ - 1.5tỷ</option>
                                <option value="1500-2000">1.5tỷ - 2tỷ</option>
                                <option value="2000-2500">2tỷ - 2.5tỷ</option>
                                <option value="2500-3000">2.5tỷ - 3tỷ</option>
                                <option value="3000-4000">3tỷ - 4tỷ</option>
                                <option value="4000-7000">4tỷ - 7tỷ</option>
                                <option value="7000-30000">>7tỷ</option>
                            </select>
                        </ons-col>
                    </ons-row>
                    <ons-row>
                        <ons-col>Hãng</ons-col>
                        <ons-col>
                            <select class="select-input" ng-model="brandFilterValue">
                                <option value="0">Tất cả</option>
                                <option ng-repeat="option in brands" value="{{option.Id}}">{{option.Name}}</option>
                            </select>
                        </ons-col>
                    </ons-row>
                    <ons-row>
                        <ons-col>Số ghế</ons-col>
                        <ons-col>
                            <select class="select-input" ng-model="seatNoFilterValue">
                                <option value="-1">Tất cả</option>
                                <option ng-repeat="option in seatNos" value="{{option}}">{{option}} ghế</option>
                            </select>
                        </ons-col>
                    </ons-row>

                    <p>
                        <ons-button ng-click="showDialog = false">Hủy</ons-button>
                        <ons-button ng-click="filterCars()">Tìm</ons-button>
                    </p>
                </div>
            </div>
            <ons-list id="all-scroller" style="margin: -1px 0">
                <ons-list-item modifier="chevron" class="item" ng-repeat="car in cars" ng-click="goToCarDetails(car)">
                    <ons-row>
                        <ons-col width="95px">
                            <img ng-src="{{car.PhotoUrl}}" class="thumbnail">
                        </ons-col>
                        <ons-col>
                            <header>
                                <span class="item-title">{{car.Name}}</span>
                                <span class="item-label" ng-if="car.IsRequested"><span ng-if="car.SellerAnswers.length>0">{{car.SellerAnswers.length}} báo giá </span><ons-icon icon="ion-chatbubble" size="20px"></ons-icon></span>
                            </header>
                            <p class="item-desc">{{car.BrandName}}</p>
                            <p class="item-price"><ons-icon icon="fa-tag"></ons-icon> {{car.Price}} triệu</p>
                        </ons-col>
                    </ons-row>
                </ons-list-item>
            </ons-list>
        </ons-page>
    </ons-template>

    <ons-template id="filterCars.html">
        <ons-page ng-infinite-scroll="loadMore">
            <ons-list id="all-scroller" style="margin: -1px 0">
                <ons-list-item modifier="chevron" class="item" ng-repeat="car in cars" ng-click="goToCarDetails(car)">
                    <ons-row>
                        <ons-col width="95px">
                            <img ng-src="{{car.PhotoUrl}}" class="thumbnail">
                        </ons-col>
                        <ons-col>
                            <header>
                                <span class="item-title">{{car.Name}}</span>
                                <span class="item-label" ng-if="car.IsRequested"><span ng-if="car.SellerAnswers.length>0">{{car.SellerAnswers.length}} báo giá </span><ons-icon icon="ion-chatbubble" size="20px"></ons-icon></span>
                            </header>
                            <p class="item-desc">{{car.BrandName}}</p>
                            <p class="item-price"><ons-icon icon="fa-tag"></ons-icon> {{car.Price}} triệu</p>
                        </ons-col>
                    </ons-row>
                </ons-list-item>
            </ons-list>
        </ons-page>
    </ons-template>

    <ons-template id="brands.html">
        <ons-page ng-controller="BrandsPageController">
            <ons-input type="search" modifier="transparent" input-id="brand-search-input" placeholder="Tìm kiếm" ng-model="search.Name"></ons-input>
            <!--<input type="search" class="search-input" placeholder="Tìm kiếm" ng-model="search.Name" />-->
            <ons-list style="margin: -1px 0">
                <ons-list-item modifier="chevron" ng-repeat="brand in brands | filter:search" class="list-item" ng-click="goToBrandDetails(brand)">
                    <!--<ons-icon ng-class="brand.Followed==true?'fa fa-star':'fa fa-star-o'" ng-click="toggleFollow(brand)" size="20px"></ons-icon>-->
                    <span class="list-item-name">{{brand.Name}}</span>
                    <span class="list-item-note">
                        <span class="notification" ng-if="brand.CountCars != 0">{{brand.CountCars}}</span>
                    </span>
                </ons-list-item>
            </ons-list>
        </ons-page>
    </ons-template>


    <ons-template id="branddetails.html">
        <ons-page ng-controller="BrandDetailsPageController">
            <ons-toolbar class="blue">
                <div class="right">
                    <ons-toolbar-button>
                        <!--<ons-icon ng-class="currentBrand.Followed==true?'fa fa-star':'fa fa-star-o'" ng-click="toggleFollow(currentBrand)" size="20px"></ons-icon>-->
                    </ons-toolbar-button>
                </div>
                <div class="center">{{currentBrand.Name}}</div>
                <div class="left">
                    <ons-back-button>
                        <!--<ons-icon icon="ion-arrow-left-c" style="color: white; font-size: 28px;" fixed-width="false"></ons-icon>-->
                        Trở lại
                    </ons-back-button>
                </div>
            </ons-toolbar>
            <ons-tabbar position="top">
                <ons-tab page="brandcars.html" active="true">
                    <ons-icon icon="ion-home"></ons-icon>
                    <span style="font-size: 14px">Mẫu xe</span>
                </ons-tab>
                <ons-tab page="brandinfo.html">
                    <ons-icon icon="ion-star"></ons-icon>
                    <span style="font-size: 14px">Thông tin</span>
                </ons-tab>
                
            </ons-tabbar>
            
        </ons-page>
    </ons-template>

    <ons-template id="brandcars.html">
        <ons-list style="margin: -1px 0">
            <ons-list-item modifier="chevron" class="item" ng-repeat="car in currentBrand.Cars" ng-click="goToCarDetails(car)">
                <ons-row>
                    <ons-col width="95px">
                        <img ng-src="{{car.PhotoUrl}}" class="thumbnail">
                    </ons-col>
                    <ons-col>
                        <header>
                            <span class="item-title">{{car.Name}}</span>
                            <!--<span class="item-label">{{car.Price}} triệu</span>-->
                        </header>
                        <p class="item-desc">{{car.BrandName}}</p>
                        <p class="item-price">{{car.Price}} triệu</p>
                    </ons-col>
                </ons-row>
            </ons-list-item>
        </ons-list>
    </ons-template>
    <ons-template id="brandinfo.html">

        <div class="card" style="background-image: url('{{currentBrand.Image}}')">

            <div class="card-name">{{currentBrand.Name}}</div>
            <div class="card-desc">{{currentBrand.Url}}</div>

        </div>

        <div class="rating">
            <div class="rating-num">
                <ons-icon icon="fa-star" fixed-width="false"></ons-icon>
                <ons-icon icon="fa-star" fixed-width="false"></ons-icon>
                <ons-icon icon="fa-star" fixed-width="false"></ons-icon>
                <ons-icon icon="fa-star" fixed-width="false"></ons-icon>
                <ons-icon icon="fa-star-half" fixed-width="false"></ons-icon>
                4.5
            </div>
        </div>

        <ons-list style="border-top: none">
            <ons-list-item style="line-height: 1; padding: 0;">
                <ons-row class="action">

                    <ons-col class="action-col">
                        <div class="action-icon"><ons-icon icon="ion-ios-star-half"></ons-icon></div>
                        <div class="action-label">Rate</div>
                    </ons-col>

                    <ons-col class="action-col">
                        <div class="action-icon"><ons-icon icon="ion-bookmark"></ons-icon></div>
                        <div class="action-label">Favorite</div>
                    </ons-col>

                    <ons-col class="action-col">
                        <div class="action-icon"><ons-icon icon="ion-share"></ons-icon></div>
                        <div class="action-label">Share</div>
                    </ons-col>

                    <ons-col class="action-col">
                        <div class="action-icon"><ons-icon icon="ion-compose"></ons-icon></div>
                        <div class="action-label">Check In</div>
                    </ons-col>

                </ons-row>
            </ons-list-item>
        </ons-list>

        <ons-list style="margin-top: 12px;">
            <ons-list-item modifier="chevron">
                <div class="prop-desc">
                    <ons-icon icon="fa-map-marker"></ons-icon>
                    2-15-13 Hongo Bunkyo Tokyo
                </div>
            </ons-list-item>

            <ons-list-item modifier="chevron">
                <div class="prop-desc">
                    <ons-icon icon="fa-mobile"></ons-icon>
                    (111) 123-4567
                </div>
            </ons-list-item>

            <ons-list-item modifier="chevron">
                <div class="prop-desc">
                    <ons-icon icon="fa-book"></ons-icon>
                    Store Photos and Menus
                </div>
            </ons-list-item>

            <ons-list-item modifier="chevron">
                <div class="prop-desc">
                    <ons-icon icon="fa-clock-o"></ons-icon>
                    Make a Reservation
                </div>
            </ons-list-item>
        </ons-list>
    </ons-template>

    <ons-template id="categories.html">
        <ons-page ng-controller="CategoriesPageController">
                <ons-row ng-repeat="cat in categories track by $index" ng-if="$index % 3 == 0">
                    <ons-col ng-repeat="i in [$index, $index + 1, $index + 2]" ng-click="goToCategoryDetails(categories[i])" class="category-item">
                        <!--<i class="{{categories[i].IconClassName}} category-icon" size="20px">
                            <span class="category-count notification">{{categories[i].CarsCount}}</span> 
                        </i>-->
                        <span>{{categories[i].Name}}</span>
                    </ons-col>
                </ons-row>
           
        </ons-page>
    </ons-template>
    <ons-template id="seatNos.html">
        <ons-page ng-controller="SeatNosPageController">
            <ons-row ng-repeat="seatNo in seatNos track by $index" ng-if="$index % 3 == 0">
                <ons-col ng-repeat="i in [$index, $index + 1, $index + 2]" ng-click="goToSeatNoDetails(seatNos[i])" class="category-item">
                    <span>{{seatNos[i] != 0 ? seatNos[i] : "Không rõ"}}</span>
                </ons-col>
            </ons-row>

        </ons-page>
    </ons-template>


    <ons-template id="categorydetails.html">
        <ons-page ng-controller="CategoryDetailsPageController"  ng-infinite-scroll="loadMore">
            <ons-toolbar>
                <div class="right">
                    <ons-toolbar-button><ons-icon icon="ion-ios-chatboxes"></ons-icon></ons-toolbar-button>
                </div>
                <div class="center">{{currentCategory.Name}}</div>
                <div class="left">
                    <ons-back-button>
                        <!--<ons-icon icon="ion-arrow-left-c" style="color: white; font-size: 28px;" fixed-width="false"></ons-icon>-->
                        Trở lại
                    </ons-back-button>
                </div>
            </ons-toolbar>
            <ons-list style="margin: -1px 0">
                <ons-list-item modifier="chevron" class="item" ng-repeat="car in currentCategory.Cars" ng-click="goToCarDetails(car)">
                    <ons-row>
                        <ons-col width="95px">
                            <img ng-src="{{car.PhotoUrl}}" class="thumbnail">
                        </ons-col>
                        <ons-col>
                            <header>
                                <span class="item-title">{{car.BrandName}}</span>
                                <span class="item-label">5h</span>
                            </header>
                            <p class="item-desc">{{car.Name}}</p>
                        </ons-col>
                    </ons-row>
                </ons-list-item>
            </ons-list>
        </ons-page>
    </ons-template>

    <ons-template id="seatNoDetails.html">
        <ons-page ng-controller="SeatNoDetailsPageController" ng-infinite-scroll="loadMore" ons-init="init()">
            <ons-toolbar>
                <div class="right">
                    <ons-toolbar-button><ons-icon icon="ion-ios-chatboxes"></ons-icon></ons-toolbar-button>
                </div>
                <div class="center">{{seatNo.Value}}</div>
                <div class="left">
                    <ons-back-button>
                        <!--<ons-icon icon="ion-arrow-left-c" style="color: white; font-size: 28px;" fixed-width="false"></ons-icon>-->
                        Trở lại
                    </ons-back-button>
                </div>
            </ons-toolbar>
            <ons-list style="margin: -1px 0">
                <ons-list-item modifier="chevron" class="item" ng-repeat="car in seatNo.Cars" ng-click="goToCarDetails(car)">
                    <ons-row>
                        <ons-col width="95px">
                            <img ng-src="{{car.PhotoUrl}}" class="thumbnail">
                        </ons-col>
                        <ons-col>
                            <header>
                                <span class="item-title">{{car.BrandName}}</span>
                                <span class="item-label">5h</span>
                            </header>
                            <p class="item-desc">{{car.Name}}</p>
                        </ons-col>
                    </ons-row>
                </ons-list-item>
            </ons-list>
        </ons-page>
    </ons-template>


    <ons-template id="cardetails.html">
        <ons-page modifier="shop-details" ng-controller="CarDetailsPageController">
            <!--<ons-toolbar>
                <div class="left">
                    <ons-back-button>Trở lại</ons-back-button>
                </div>
                <div class="center">Chi tiết KM</div>
                <div class="right"><ons-toolbar-button><ons-icon icon="ion-compose"></ons-icon></ons-toolbar-button></div>
            </ons-toolbar>-->

            <ons-toolbar>
                <div class="right">
                    <ons-toolbar-button><ons-icon icon="ion-ios-chatboxes"></ons-icon></ons-toolbar-button>
                </div>
                <div class="center">{{currentCar.Name}}</div>
                <div class="left">
                    <ons-back-button>
                        <!--<ons-icon icon="ion-arrow-left-c" style="color: white; font-size: 28px;" fixed-width="false"></ons-icon>-->
                        Trở lại
                    </ons-back-button>
                </div>
            </ons-toolbar>

            <div class="card" style="background-image: url('{{currentCar.PhotoUrl}}')">
                <div class="card-name">{{currentCar.BrandName}}</div>
                <div class="card-desc">
                    {{currentCar.Price}} triệu
                </div>

            </div>

            <div class="rating">
                <div class="rating-num">
                    <ons-icon icon="fa-star" fixed-width="false"></ons-icon>
                    <ons-icon icon="fa-star" fixed-width="false"></ons-icon>
                    <ons-icon icon="fa-star" fixed-width="false"></ons-icon>
                    <ons-icon icon="fa-star" fixed-width="false"></ons-icon>
                    <ons-icon icon="fa-star-half" fixed-width="false"></ons-icon>
                    4.5
                </div>
            </div>

            <ons-list style="border-top: none">
                <ons-list-item style="line-height: 1; padding: 0;">
                    <ons-row class="action">

                        <!--<ons-col class="action-col">
                            <div class="action-icon"><ons-icon icon="ion-ios-star-half"></ons-icon></div>
                            <div class="action-label">Rate</div>
                        </ons-col>

                        <ons-col class="action-col">
                            <div class="action-icon"><ons-icon icon="ion-bookmark"></ons-icon></div>
                            <div class="action-label">Favorite</div>
                        </ons-col>

                        <ons-col class="action-col">
                            <div class="action-icon"><ons-icon icon="ion-share"></ons-icon></div>
                            <div class="action-label">Share</div>
                        </ons-col>-->

                        <ons-col class="action-col" ng-if="!currentCar.IsRequested" ng-click="gotoSendPriceRequest(currentCar)">
                            <div class="action-icon"><ons-icon icon="ion-compose"></ons-icon></div>
                            <div class="action-label">Yêu cầu báo giá</div>
                        </ons-col>
                        <ons-col class="action-col" ng-if="currentCar.IsRequested" ng-click="gotoPriceRequestDetails(currentCar)">
                            <div class="action-icon"><ons-icon icon="ion-chatboxes"></ons-icon></div>
                            <div class="action-label">Xem báo giá</div>
                        </ons-col>

                    </ons-row>
                </ons-list-item>
            </ons-list>
                <div class="detail_content">
                    <ons-row>
                        <ons-col>Dài x rộng x cao <span class="size12"><i>(mm)</i></span>:</ons-col>
                        <ons-col>{{currentCar.Size}}</ons-col>
                    </ons-row>
                    <!--<ons-row>
                        <div class="left_line">Dung tích bình xăng <span class="size12"><i>(lít)</i></span>:</div>
                        <div class="right_line">{{currentCar.Size}}</div>
                    </div>-->
                    <ons-row>
                        <ons-col>Động cơ:</ons-col>
                        <ons-col>{{currentCar.EngineName}}</ons-col>
                    </ons-row>
                    <ons-row>
                        <ons-col>Công suất <span class="size12"><i>(mã lực)</i></span>:</ons-col>
                        <ons-col>{{currentCar.Power}}</ons-col>
                    </ons-row>
                    <ons-row>
                        <ons-col class="left_line">Mô-men xoắn <span class="size12"><i>(Nm)</i></span>:</ons-col>
                        <ons-col class="right_line">{{currentCar.Moment}}</ons-col>
                    </ons-row>
                    <!--<ons-row>
                        <div class="left_line">Khoảng sáng gầm <span class="size12"><i>(mm)</i></span>:</div>
                        <div class="right_line">160</div>
                    </div>-->
                    <!--<ons-row>
                        <div class="left_line">Đường kính vòng quay tối thiểu <span class="size12"><i>(m)</i></span>:</div>
                        <div class="right_line">11</div>
                    </div>-->
                    <ons-row>
                        <ons-col class="left_line">Nguồn gốc:</ons-col>
                        <ons-col class="right_line">{{currentCar.OriginName}}</ons-col>
                    </ons-row>
                    <ons-row>
                        <ons-col class="left_line">Loại xe:</ons-col>
                        <ons-col class="right_line">{{currentCar.CategoryName}}</ons-col>
                    </ons-row>
                    <!--<ons-row>
                        <div class="left_line">Hộp số:</div>
                        <div class="right_line">AT 7 cấp</div>
                    </div>-->
                    <!--<ons-row>
                        <div class="left_line">Mức tiêu thụ nhiên liệu: </div>
                        <div class="right_line">5.4</div>
                    </div>-->
                </div>
           <h3>Dự tính chi phí</h3>
            <ons-list>
                <ons-list-item>
                    <div class="list-item__left">Nơi đăng ký</div>
                    <div class="list-item__right">
                        <select class="select-input" ng-options="option.Name for option in places" ng-model="place" ng-change="updateStampTax()"></select>
                    </div>
                </ons-list-item>
                <ons-list-item>
                    <div class="list-item__left">Giá niêm yết</div>
                    <div class="list-item__right">{{currentCar.Price * 1000000 | number:0}}  ₫</div>
                </ons-list-item>
                <ons-list-item>
                    <div class="list-item__left">Phí trước bạ ({{stampTaxPercent}}%)</div>
                    <div class="list-item__right">{{stampTaxPercent*currentCar.Price*10000 | number:0}}  ₫</div>
                </ons-list-item>
                <ons-list-item>
                    <div class="list-item__left">Phí sử dụng đường bộ (01 năm)</div>
                    <div class="list-item__right">{{currentCar.RoadFee | number:0}}  ₫</div>
                </ons-list-item>
                <ons-list-item>
                    <div class="list-item__left">Bảo hiểm trách nhiệm dân sự (01 năm)</div>
                    <div class="list-item__right">{{currentCar.Insurance | number:0}}  ₫</div>
                </ons-list-item>
                <ons-list-item>
                    <div class="list-item__left">Phí đăng ký biển số</div>
                    <div class="list-item__right">{{place.NumberPlateFee | number:0}}  ₫</div>
                </ons-list-item>
                <ons-list-item>
                    <div class="list-item__left">Phí đăng kiểm</div>
                    <div class="list-item__right">{{currentCar.RegistrationFee | number:0}}  ₫</div>
                </ons-list-item>
                <ons-list-item>
                    <div class="list-item__left"><strong>Tổng cộng</strong></div>
                    <div class="list-item__right">{{currentCar.Price * 1000000 + stampTaxPercent*currentCar.Price*10000 + currentCar.RoadFee + currentCar.Insurance + place.NumberPlateFee + currentCar.RegistrationFee | number:0}}  ₫</div>
                </ons-list-item>
            </ons-list>
        </ons-page>
    </ons-template>


    <ons-template id="login.html">
        <ons-page ng-controller="LoginPageController">
            <ons-toolbar>
                <div class="left">
                    <ons-toolbar-button onclick="fn.open()">
                        <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
                    </ons-toolbar-button>
                </div>
                <div class="center">Đăng nhập</div>
                <div class="right"><ons-toolbar-button onclick="fn.load('home.html')">Đóng</ons-toolbar-button></div>
            </ons-toolbar>

            <div class="login-form">

                <input type="text" class="text-input--material" placeholder="User Name" ng-init="username='trungtien.tb@gmail.com'" ng-model="username" required>
                <br /><br />
                <input type="password" class="text-input--material" placeholder="Password" ng-init="password='Abc@@123'" ng-model="password" required>
                <br><br>
                <ons-button modifier="large" class="login-button" ng-click="login()">Đăng nhập</ons-button>
                <br><br>
                <ons-button modifier="quiet" class="forgot-password">Quên mật khẩu?</ons-button>
            </div>

        </ons-page>
    </ons-template>

    <script type="text/javascript" src="cordova.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
    <script type="text/javascript">
        app.initialize();
    </script>
    <script src="js/AppController.js"></script>
</body>

</html>