
 .tab {
    line-height: 1;
}

.tab-icon {
    font-size: 24px;
    padding: 0;
    margin: 0;
    vertical-align: top;
    line-height: 28px;
}

.tab-label {
    line-height: 11px;
    vertical-align: top;
    font-size: 11px;
}

.profile-wrapper {
    padding: 16px 10px 0 10px;
}

.profile-image {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    background-color: #ccc;
}

.profile-name {
    font-size: 18px;
    padding: 4px 0 2px 0;
}

.profile-email {
    font-size: 15px;
    opacity: 0.4;
}

.switch--list-item {
    margin-right: 0px;
}

.settings-header {
    font-weight: 500;
    font-size: 14px;
    opacity: 0.4;
    padding: 10px 0 0px 10px;
    margin-bottom: -4px;
}

.settings-list {
    margin-top: 10px;
}

.item {
    padding: 10px;
    line-height: 1;
}

.item-thum {
    background-color: #ccc;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
}

.item-title {
    font-size: 15px;
    font-weight: 500;
}

.item-desc {
    font-size: 14px;
    color: #666;
    line-height: 1.3;
    margin: 4px 0 0 0;
    padding: 0 30px 0 0;
}

.item-label {
    font-size: 12px;
    color: #999;
    float: right;
}
.item-price {
    font-size: 14px;
    color: rgba(0, 66, 142, 0.81);
}


.thumbnail {
    width: 80px;
    height: 80px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
}


/*Slide Menu*/
.page--menu-page__background {
  background-color: #333;
  color: white;
}

.menu-close,
.menu-close > .toolbar-button {
  color: #999;
}

.menu-list,
.menu-item:first-child,
.menu-item {
  background-color: transparent;
  background-image: none !important;
  border-color: transparent;
  color: #fff;
}

.menu-item {
  padding: 0 0 0 20px;
  line-height: 52px;
  height: 52px;
  text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px;
}

.menu-item:active {
  background-color: rgba(255, 255, 255, 0.1);
}

.menu-notification {
  display: inline-block;
  margin-top: 12px;
  font-size: 14px;
  height: 16px;
  line-height: 16px;
  min-width: 16px;
  font-weight: 600;
}

.bottom-menu-list,
.bottom-menu-item:first-child,
.bottom-menu-item {
  border-color: #393939;
  background-color: transparent;
  background-image: none !important;
  color: #ccc;
}

.bottom-menu-item:active {
  background-color: rgba(255, 255, 255, 0.1);
}

/*BRANDS*/
.list-item {
    padding: 10px;
}
.list-item-name
{
    margin-left: 20px;
}
.list-item-note {
    position: absolute;
    right: 36px;
    top: 0px;
    font-size: 14px;
}
.list-item-note > .notification {
    margin-top: 12px;
}
/*ARTICLE DETAILS*/
.page--shop-details__content {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px !important;
    bottom: 0px;
}

.card {
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 250px;
}
.main-content h2 {
    font-size: 15px;
}
.main-content{
    font-size: 12px;
    padding: 5px;
    margin: 0px 5px 5px 5px;
    border-left: solid 1px;
    border-right: solid 1px;
    border-bottom: solid 1px;
    border-color: #A5A5A6;
    word-wrap: break-word;
}
.main-content img
{
    max-width: 100%;
}

/*.card-toolbar ons-back-button span {
    color: white;
}*/

.card-name {
    font-weight: 400;
    font-size: 15px;
    padding: 66px 0 8px 0;
    text-align: center;
    background: rgba(62, 62, 62, 0.88);
    color: white;
}

.card-desc {
    font-size: 14px;
    font-weight: 400;
    opacity: 0.9;
    text-align: right;
    width: 130px;
    line-height: 1.4;
    background: #EB482F;
    float: right;
}

.rating {
    text-align: center;
    position: relative;
    height: 0px;
}

.rating-num {
    position: relative;
    top: -24px;
    height: 24px;
    color: white;
    line-height: 24px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    border-radius: 4px 4px 0 0;
    padding: 0 6px;
    background-color: #eb482f;
    color: white;
    width: auto;
    margin: 0 auto 0 auto;
    display: inline-block;
}

.rating-num ons-icon {
    font-size: 11px;
    vertical-align: -0px;
}

.action-col {
    text-align: center;
    opacity: 0.4;
    padding: 10px 0 8px;
}

.action-col:active {
    opacity: 0.7;
}

.action-col ons-button {
    padding: 0;
    line-height: 1;
}

.action-icon {
    padding: 0 0 4px 0;
}

.action-icon ons-icon {
    font-size: 28px;
}

.action-label {
    font-size: 12px;
}

.prop-desc {
    font-size: 14px;
    opacity: 0.7;
}

.prop-desc ons-icon {
    font-size: 14px;
    vertical-align: -0px;
    opacity: 0.5;
}


.blue
{
    background-color: #57a6db;
}
.category-item
{
    min-height: 80px;
    text-align: center;
    margin: 5px;
    padding: 5px;
    border: 1px solid #AFAEAE;
}
.category-icon {
    display: block;
    text-align: center;
    position: relative;
    padding: 10px;
}
    .category-icon::before {
        font-size: 30px;
    }
.category-count{
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: 12px;
}
/*login page*/
.login-form {
  text-align: center;
  width: 80%;
  margin: 60px auto 0;
}

input[type=text], input[type=email], input[type=password] {
    display: block;
    width: 100%;
    margin: 0 auto;
    outline: none;
    height: 100%;
    padding-top: 15px;
    padding-bottom: 16px;
}

.login-button {
  width: 100%;
  margin: 0 auto;
}

.forgot-password {
  display: block;
  margin: 8px auto 0 auto;
  font-size: 14px;
}